.columnFields{
    display: flex;
flex-direction: column;
margin-right: 50px;
margin-left: 40px;
margin-top: 20px;
}
.mat-form-field{
    width: 200px;
}
.row{
    margin-left: 100px;
}
.displayRow{
    display:flex;
    flex-direction: row;
}
@media print {
  .onlyShowPrint {
    display: block !important;
  }

  .printMe {
    display: none !important;
  }
}

@media not print {
  .onlyShowPrint {
    display: none !important;
  }
}
.mat-typography p{
    font-size:17px;
}
.mat-form-field{
    margin-right: 20px;
}
.fields{
    margin-bottom: 20px;
}
.inputTime{
    height: 50px;
}
.column {
 
  margin-top: 5px;
  place-content: space-evenly;
}
.columDetails {
  
  margin-top: 15px;
  place-content: space-evenly;
}
.pColumn {
  margin-top: 25px;
  margin-bottom: 30px;
}
.pColumn2 {
  margin-top: 25px;

}
.btnMap {
  border-radius: 12px;
  margin: 20px;
  padding: 7px;
  background-color: #feae5f;
  border: none;
}
  .btnMap:hover {
   background-color: #e29850;
  }
table{
    width: 90%;
}
.mat-tab-body-content{
    overflow:hidden;
}
agm-map {
  margin: 20px;
  height: 300px;
  width: 100%;
}
.btnGroup {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
}
table thead th {
  width: 190px;
  font-size: 17px;
}

table tr:first-child td {
  border-top: 0;
}


.table th {
  border-top: none;
  width: 190px;
  font-size: 17px;
}

td.mat-cell {
  font-size: 15px;
  vertical-align: middle;

  padding: 0 24px !important;
}

th.mat-header-cell {
  padding-left: 20px;
}

