.columnFields{
    display: flex;
flex-direction: column;
margin-right: 50px;
margin-left: 40px;
margin-top: 20px;
}
.mat-form-field{
    width: 200px;
}
.row{
    margin-left: 100px;
}
.displayRow{
    display:flex;
    flex-direction: row;
}
.mat-typography p{
    font-size:17px;
}
.mat-form-field{
    margin-right: 20px;
}
.fields{
    margin-bottom: 20px;
}
.inputTime{
    height: 50px;
}
.column {
  height: 500px;
  margin-top: 15px;
  place-content: space-evenly;
}
.columDetails {
  height: 400px;
  margin-top: 15px;
  place-content: space-evenly;
}
.pColumn {
  margin-top: 25px;
  margin-bottom: 30px;
}
.btnMap{
    border-radius: 12px;

}
table{
    width: 90%;
}
.mat-tab-body-content{
    overflow:hidden;
}
agm-map {
  margin: 20px;
  height: 300px;
  width: 500px;
}
