.columnFields{
    display: flex;
flex-direction: column;
margin-right: 50px;
margin-left: 40px;
margin-top: 20px;
}
.mat-form-field{
    width: 200px;
}
.row{
    margin-left: 100px;
}
.displayRow{
    display:flex;
    flex-direction: row;
}
.mat-typography p{
    font-size:17px;
}
.mat-form-field{
    margin-right: 20px;
}
.fields{
    margin-bottom: 20px;
}
.inputTime{
    height: 50px;
}
.column{
    height: 50px;
}
.pColumn{
    margin-bottom: 40px;
}
