<div style="display:flex; flex-direction: row">
  <button mat-raised-button style="background-color: white; border: none" (click)="goBack()"   data-toggle="tooltip" title="Zurück zur Übersicht" ><mat-icon>chevron_left</mat-icon></button>
  <h1 style="margin: 20px;">Schulung</h1>
</div>

<mat-tab-group>
  <mat-tab label="Details">

    <div class="displayRow">
      <div class="column columDetails columnFields">
        <p class="pColumn">Name</p>
        <p class="pColumn">Adresse</p>

        <p class="pColumn">Beginn-Datum und Uhrzeit</p>
        <p class="pColumn">End-Datum und Uhrzeit</p>
        <p class="pColumn">Anzahl der Schulungsplätze</p>
        <p class="pColumn">Preis</p>
      </div>
      <div class="columnFields">
        <mat-form-field class="fields" appearance="fill">
          <mat-label>Kategorie auswählen</mat-label>
          <mat-select [(ngModel)]="catName" (selectionChange)="checkInputs()">
            <mat-option *ngFor="let s of category" [value]="s">
              {{s}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="displayRow fields">
          <mat-form-field>
            <mat-label>Straße</mat-label>
            <input matInput (change)="checkInputs()" [(ngModel)]="street" >
          </mat-form-field>
          <mat-form-field>
            <mat-label>Hausnummer</mat-label>
            <input matInput (change)="checkInputs()" [(ngModel)]="streetNumber">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Postleitzahl</mat-label>
            <input matInput (change)="checkInputs()" [(ngModel)]="zipCode">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Stadt</mat-label>
            <input matInput (change)="checkInputs()" [(ngModel)]="city">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Land</mat-label>
            <input matInput (change)="checkInputs()" [(ngModel)]="country">
          </mat-form-field>
          <button (click)="showOnMap()" class="fields btnMap">Auf Karte anzeigen</button>
        </div>

        <div class="displayRow fields">
   

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Datum auswählen</mat-label>
            <input matInput [matDatepicker]="picker" (change)="checkInputs()" [(ngModel)]="startDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <input [(ngModel)]="startTime" class="inputTime" (change)="changeTime(true)" type="time">
        </div>

        <div class="displayRow fields">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Datum auswählen</mat-label>
            <input matInput [matDatepicker]="endPicker" (change)="checkInputs()" [(ngModel)]="endDate" [min]="startDate" >
            <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
            <mat-datepicker #endPicker></mat-datepicker>
          </mat-form-field>
          <input [(ngModel)]="endTime" class="inputTime" (change)="changeTime(false)" type="time">
        </div>
        <mat-form-field class="displayRow fields">

          <input type="number" (change)="checkInputs()" matInput [(ngModel)]="sizeOfSchooling">
        </mat-form-field>
        <mat-form-field class="displayRow fields">

          <input type="number" min="0"  (change)="checkInputs()" matInput [(ngModel)]="price">
        </mat-form-field>
      </div>

    </div>
    <div>
      <agm-map [latitude]="lat" [longitude]="lon" [zoom]="16">
        <agm-marker [latitude]="lat" [longitude]="lon"></agm-marker>
      </agm-map>
    </div>

    <div class="btnGroup printMe">
      <button #btnSchooling1 class="btnMap" [disabled]="!readyToPost" (click)="addSchooling(true)">{{addOrEdit}}</button>
      <button class="btnMap" (click)="saveAndNew()" [disabled]="!readyToPost">Speichern und kopieren</button>
    </div>
  </mat-tab>



  <mat-tab label="Organisator">
    <div class="displayRow">
      <div class="column columnFields">
        <p class="pColumn2">Organisator</p>
        <p class="pColumn2">Konataktperson</p>
        <p class="pColumn2">E-Mail Adresse</p>
        <p class="pColumn2">Website</p>
        <p class="pColumn2">Telfonnummer</p>
      </div>

      <div class="columnFields">
        <mat-form-field appearance="fill">
          <mat-label>Organisator auswählen</mat-label>
          <mat-select (selectionChange)="changeOrganizer()" [(ngModel)]="organizerName">
            <mat-option *ngFor="let s of organizer" [value]="s">
              {{s.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>

          <input matInput [(ngModel)]="contactPerson">
        </mat-form-field>
        <mat-form-field>

          <input matInput [(ngModel)]="email">
        </mat-form-field>
        <mat-form-field>

          <input matInput [(ngModel)]="website">
        </mat-form-field>
        <mat-form-field>

          <input matInput [(ngModel)]="phone">
        </mat-form-field>

      </div>
      <div class="column" style="margin: 10px">
        <button class="btnMap" data-toggle="tooltip" title="Organisator hinzufügen" (click)="addOrganizer()" mat-fab>
         Organisator hinzufügen
        </button>
      </div>
    </div>
    <div class="btnGroup printMe">
      <button #btnSchooling2 class="btnMap"  [disabled]="!readyToPost" (click)="addSchooling(true)">{{addOrEdit}}</button>
      <button class="btnMap" (click)="saveAndNew()" [disabled]="!readyToPost">Speichern und kopieren</button>
    </div>
  </mat-tab>
  <mat-tab label="Teilnehmer">
    <div class="printMe">
      <div style="margin-left:20px">

       
        <button class="btnMap" (click)="addPart()" mat-fab>
          Teilnehmer hinzufügen

        </button>



   
      </div>
    </div>
   
 
    <table mat-table #mytable [dataSource]="dataSource" class="table">

      <ng-container matColumnDef="firstname">
        <th mat-header-cell *matHeaderCellDef> Vorname </th>
        <td mat-cell *matCellDef="let member"> {{member.firstname}} </td>
      </ng-container>


      <ng-container matColumnDef="lastname">
        <th mat-header-cell *matHeaderCellDef> Nachname </th>
        <td mat-cell *matCellDef="let member"> {{member.lastname}}  </td>
      </ng-container>


      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> E-Mail </th>
        <td mat-cell *matCellDef="let member"> {{member.email}} </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Löschen </th>
        <td mat-cell *matCellDef="let member">
          <button style="background-color: white; border: none;" (click)="deleteMember(member.id)" mat-fab color="#A0A0A0">
            <mat-icon>delete</mat-icon>
          </button>
      </ng-container>
      




      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  
    <div class="btnGroup printMe">
      <button class="btnMap" (click)="printParticipants()">Teilnehmer ausdrucken</button>
      <button class="btnMap" (click)="copyAllMail()">E-Mail Adressen kopieren</button>
      <button #btnSchooling3 class="btnMap"  [disabled]="!readyToPost" (click)="addSchooling(true)">{{addOrEdit}}</button>
      <button class="btnMap" (click)="saveAndNew()" [disabled]="!readyToPost">Speichern und kopieren</button>
    </div>



    
    
  </mat-tab>
 
</mat-tab-group>
