<mat-tab-group>
  <mat-tab label="Details">
   
      <div class="displayRow">
        <div class="column columnFields">
          <p class="pColumn">Name</p>
          <p class="pColumn">Adresse</p>
          <p class="pColumn">Kursort</p>
          <p class="pColumn">Beginn-Datum und Uhrzeit</p>
          <p class="pColumn">End-Datum und Uhrzeit</p>
        </div>
        <div class="columnFields">
          <mat-form-field class="fields" appearance="fill">
            <mat-label>Kategory auswählen</mat-label>
            <mat-select>
              <mat-option *ngFor="let s of category" [value]="s">
                {{s}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="displayRow fields">
            <mat-form-field>
              <mat-label>Straße</mat-label>
              <input matInput [(ngModel)]="street">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Hausnummer</mat-label>
              <input matInput [(ngModel)]="streetNumber">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Postleitzahl</mat-label>
              <input matInput [(ngModel)]="zipCode">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Stadt</mat-label>
              <input matInput [(ngModel)]="city">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Land</mat-label>
              <input matInput [(ngModel)]="country">
            </mat-form-field>
          </div>
          <button class="fields">Auf Karte anzeigen</button>
          <div class="displayRow fields">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Datum auswählen</mat-label>
              <input matInput [matDatepicker]="picker">
              <mat-datepicker-toggle matSuffix [for]="picker">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <input class="inputTime" type="time">
          </div>

          <div class="displayRow fields">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Datum auswählen</mat-label>
              <input matInput [matDatepicker]="endPicker">
              <mat-datepicker-toggle matSuffix [for]="endPicker">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #endPicker></mat-datepicker>
            </mat-form-field>
            <input class="inputTime" type="time">
          </div>
        </div>
      </div>
  </mat-tab>
  <mat-tab label="Organisator"> Content 2 </mat-tab>
  <mat-tab label="Teilnehmer"> Content 3 </mat-tab>
</mat-tab-group>
