<h1 mat-dialog-title>
  Teilnehmer hinzufügen
</h1>
<div mat-dialog-content>
  <div>
    <mat-form-field class="example-full-width">
      <mat-label>Vorname</mat-label>
      <input matInput [(ngModel)]="data.firstname" placeholder="Max">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Nachname</mat-label>
      <input matInput [(ngModel)]="data.lastname" placeholder="Mustermann">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="data.mail" placeholder="max@mustmann.com">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Firma</mat-label>
      <input matInput [(ngModel)]="companyName">
    </mat-form-field>
   
  </div>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Abbrechen</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Hinzufügen</button>
</div>
