<h1 mat-dialog-title>
  Teilnehmer hinzufügen
</h1>
<div mat-dialog-content>
  <div>
    <mat-form-field class="example-full-width">
      <mat-label>Vorname</mat-label>
      <input matInput [(ngModel)]="data.firstname" placeholder="Max">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Nachname</mat-label>
      <input matInput [(ngModel)]="data.lastname" placeholder="Mustermann">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="data.mail" placeholder="max@mustmann.com">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Firma auswählen</mat-label>
      <mat-select [(ngModel)]="companyName">
        <mat-option *ngFor="let s of data.companys" [value]="s">
          {{s}}
        </mat-option>
      </mat-select>

    </mat-form-field>
    <button (click)="addCompany()">Firma hinzufügen</button>
  </div>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Abbrechen</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Hinzufügen</button>
</div>
