<h1 >Übersicht der derzeitigen Schulungen</h1>
<button class="newSchooling" (click)="newSchooling()">Neue Schulung</button>

<table mat-table #mytable [dataSource]="dataSource" class="table">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let schooling"> {{schooling.name}} </td>
  </ng-container>


  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Datum </th>
    <td mat-cell *matCellDef="let schooling"> {{schooling.start | date:'d.M.yy' }} - {{schooling.end | date:'d.M.yy' }}  </td>
  </ng-container>


  <ng-container matColumnDef="check">
    <th mat-header-cell *matHeaderCellDef> Anzeigen </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox color="primary" class="example-margin"></mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef> Editieren </th>
    <td mat-cell *matCellDef="let row">
      <button (click)="editSchooling(schooling.id)" mat-fab color="#A0A0A0">
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container>
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> Löschen </th>
    <td mat-cell *matCellDef="let schooling">
      <button (click)="deleteSchooling(schooling.id)" mat-fab color="#A0A0A0">
        <mat-icon>delete</mat-icon>
      </button>
</ng-container>



  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
