table{
    width: 100%
}
table tr:first-child td {
    border-top: 0;
  }
.newSchooling {
  border-radius: 12px;
  background-color:#feae5f;
  border:none;
  outline:none;
  padding: 5px;
}
.true {
  background-color: #feae5f;
}
.false{
    
}
tr:hover {
  background-color: lightgray;
}

h1 {
  font-family: 'Open Sans', sans-serif;
}
.mat-table {
  font-family: 'Open Sans', sans-serif;
}
.table th{
    border-top: none;
}
td.mat-cell{
    padding:15px;
    font-size: 15px;
}
.mat-icon {
  vertical-align: bottom;
  margin-right: 6px;
}
