

h1 {
  font-size: 24px;
  color: #707070;
}

.schulungh1
{
    margin-left: 10%
}
.container {
  width: 100%;
  margin:15px;
}

.buttonGray {
  border-radius: 12px;
  color: #707070;
  background-color: #D4D4D4;
}

  .buttonGray:hover {
    background-color: #F8F4F4;
    color: #FEAE5F;
  }
  .buttonGray:active {
    background-color: #F8F4F4;
    color: #FEAE5F;
  }

.active {
  background-color: #F8F4F4;
}

.nonActive {
  background-color: #D4D4D4;
}


.month {
  color: #707070;
  text-align: center;
  font-size: 30px;
}
.rowPostition {
  text-align: center;
  
}
.outerDiv
{
   margin: 35px;
}

.activeSchooling {
  background-color: #8CEE88;
  border-radius: 2px;
  color: #707070;
  padding: 10px;
  margin: 10px;
  flex-shrink: 1
}
.takenSchooling {
  background-color: #F28C8C;
  border-radius: 2px;
  color: #707070;
  padding: 10px;
  margin: 10px;
}

.filterBtn {
margin: auto
}
.categoryBtn {
  border: none;
  margin: 3px;
  padding: 7px;
  color: #707070;
  background: #FEAE5F;
  border-radius: 12px;
  outline: none;
  font-size: 15px;
}
  .categoryBtn:hover {
    background-color: #D4D4D4;
    color: #707070;
  }

  .categoryBtn:active {
    background-color: #D4D4D4;
    color: #707070;
  }

.detailview{
    margin-top: 40px;
    
}
[hidden] {
  display: none !important;
}
.mat-typography h3{
    margin-top: 3px;
    font-size: 20px;
}
.mat-typography p{
    margin:auto;
}
.holiday {
  background-color: #DEEFF5;
  padding: 10px;
  margin: 10px;
}
.outerRow {
  margin: 50px;
  margin-left: 70px;
  font-size: 20px;
  color: #707070;
}
.col1{
width: 25%
}
.col2{
    width: 50%
}

.innerRows{
    height: 30px;
}
.btnLogin {
  border-radius: 12px;
  color: #707070;
  background-color: #D4D4D4;
  padding: 5px;
}
.mat-typography h1 {
  font-family: 'Open Sans', sans-serif;
}
.mat-typography {
  font-family: 'Open Sans', sans-serif;
}
@media print {
  .printMe {
    display: none !important;
  }
}

app-print-layout{
  display:none;
}
app-invoice{
    display:none;
}
@media print {
 
  app-invoice {
    display: flex;
  }
}
.btnPrint{
  margin-left: 50px;

}
@media (max-device-width: 768px) {
  .outerRow {
    margin: 0;
  }
  .outerDiv{
      margin: 0px;
  }
  .row {
    display: flex;
    flex-wrap: initial;
    margin: 4px;
  }
  .rowData{
     flex-direction: column;
  }
    .col1{
        width: 40%
    }
    .col2{
        width: 60%;
    }
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 7px;
    margin: 0px;
    margin-bottom: 10px;
  }

  element.style {
    margin: 15px;
  }
  .filterText{
      display:none;
  }
  .btnPrint{
      margin-left: 0px;
  }
  
  
}
.table tr:hover {
  background-color: #F8F4F4;
  cursor: pointer;
}


