<div class="outerDiv">
  <h1 class="schulungh1">
    Schulungen und Workshops
  </h1>
  <div class="row text-center">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <h3 class="month">{{ viewDate | calendarDate:(view + 'ViewTitle'): locale }}</h3>
        </div>
        <div class="col-sm">
          <div class="btn-group">
            <div>
              <div class="btn buttonGray "
                   mwlCalendarPreviousView
                   [view]="view"
                   [(viewDate)]="viewDate"
                   (viewDateChange)="closeOpenMonthViewDay()">
                <
              </div>
              <div class="btn buttonGray "
                   mwlCalendarToday
                   [(viewDate)]="viewDate">
                Heute
              </div>
              <div class="btn buttonGray"
                   mwlCalendarNextView
                   [view]="view"
                   [(viewDate)]="viewDate"
                   (viewDateChange)="closeOpenMonthViewDay()">
                >
              </div>

            </div>
          </div>
        </div>

        <div class="col-sm">
          <div class="btn-group">
            <div class="btn buttonGray"
                 (click)="setView(CalendarView.Month)"
                 [class.active]="view === CalendarView.Month">
              Monat
            </div>
            <div class="btn buttonGray"
                 (click)="setView(CalendarView.Week)"
                 [class.active]="view === CalendarView.Week">
              Woche
            </div>
            <div class="btn buttonGray"
                 (click)="setView(CalendarView.Day)"
                 [class.active]="view === CalendarView.Day">
              Tag
            </div>
          </div>
        </div>
      </div>

      <div>



      </div>


      <div class="col-md-4">
        <div class="btn-group">

        </div>
      </div>

      <div class="col-md-4">

      </div>
    </div>
    <br />

  </div>
  <ng-template #customCellTemplate let-day="day" let-locale="locale" let-days="days" let-dayEvents="dayEvents">
    <div class="cal-cell-top">
      <!--<span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>-->
      <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
    </div>

    <div  >
      <span *ngFor="let ev of day.events">
        <span *ngIf="ev.isFree" >
          <p class="activeSchooling" style="margin: 5px;  font-size:17px;" >{{ ev.title }}</p>
        </span>
        <span *ngIf="!ev.isFree" >
          <p class="takenSchooling" style="margin: 5px;  font-size:17px;" >{{ ev.title }}</p>
        </span>
   
      </span>
    </div>

</ng-template>
 
  <div>
    <div style="margin:15px" class="container">
      <div class="btn-group filterBtn">
        Filtern nach:
        <button class="categoryBtn">Grundlagen</button>
        <button class="categoryBtn">Workshop</button>
        <button class="categoryBtn">Administrator</button>
        <button class="categoryBtn">Kombimodell</button>
      </div>
     </div>
      </div>
      <div [ngSwitch]="view">
        <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month"
                                 [viewDate]="viewDate"
                                 [events]="events"
                                 [refresh]="refresh"
                                 [activeDayIsOpen]="activeDayIsOpen"
                                 (dayClicked)="dayClicked($event.day)"
                                 (eventClicked)="handleEvent('Clicked', $event.event)"
                                 (eventTimesChanged)="eventTimesChanged($event)"
                                 [locale]="locale"
                                 [weekendDays]="weekendDays"
                                 [weekStartsOn]="weekStartsOn"
                                 [cellTemplate]="customCellTemplate">
        </mwl-calendar-month-view>
        <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week"
                                [viewDate]="viewDate"
                                [events]="events"
                                [refresh]="refresh"
                                (eventClicked)="handleEvent('Clicked', $event.event)"
                                (eventTimesChanged)="eventTimesChanged($event)"
                                [locale]="locale"
                                [weekendDays]="weekendDays"
                                [weekStartsOn]="weekStartsOn">
        </mwl-calendar-week-view>
        <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day"
                               [viewDate]="viewDate"
                               [events]="events"
                               [refresh]="refresh"
                               (eventClicked)="handleEvent('Clicked', $event.event)"
                               (eventTimesChanged)="eventTimesChanged($event)"
                               [locale]="locale">
        </mwl-calendar-day-view>
      </div>
    </div>

