<div class="outerDiv">
  <h1 class="schulungh1">
    Anmeldung
  </h1>
  <h3 #detailView class="detailTitle">{{detailTitle}}</h3>
  <div class="detailview">



    <div class="row outerRow">
      <div class="column col1">
        <div class="row innerRows">Termin</div>
        <div class="row innerRows">Uhrzeit</div>
        <div class="row innerRows">Preis</div>
        <div class="row innerRows">Organisator</div>
        <div class="row innerRows">Kontaktperson</div>
        <div class="row innerRows">Telefon</div>
        <div class="row innerRows">Adresse</div>
      </div>

      <div class="column col2">
        <div class="row innerRows">{{startDate  | date:'d.M.yy' }} - {{endDate  | date:'d.M.yy' }}</div>
        <div class="row innerRows">{{startTime}} - {{endTime}}</div>
        <div class="row innerRows">{{preis}}</div>
        <div class="row innerRows">{{organisator}}</div>
        <div class="row innerRows">{{kontaktperson}}</div>
        <div class="row innerRows">{{telefon}}</div>
        <div class="row innerRows">{{adresse}}</div>
      </div>


    </div>
    <h3 class="firma">Firma</h3>

    <div class="row outerRow">

      <div class="column col1">
        <div class="row innerRows">Name</div>
        <div class="row innerRows">Telefonnummer</div>
        <div class="row innerRows">E-Mail</div>
        <div class="row innerRows">Straße</div>
        <div class="row innerRows">Hausnummer</div>
        <div class="row innerRows">Postleitzahl</div>
        <div class="row innerRows">Stadt</div>
        <div class="row innerRows">Land</div>

      </div>

      <div class="column col2">
        <div class="flex-container">
        </div>
        <mat-form-field class="flex-container">
          <input matInput>
        </mat-form-field>
        <mat-form-field class="flex-container">
          <input matInput>
        </mat-form-field>
        <mat-form-field class="flex-container">
          <input matInput>
        </mat-form-field>
        <mat-form-field class="flex-container">
          <input matInput>
        </mat-form-field>
        <mat-form-field class="flex-container">
          <input matInput>
        </mat-form-field>
        <mat-form-field class="flex-container">
          <input matInput>
        </mat-form-field>
        <mat-form-field class="flex-container">
          <input matInput>
        </mat-form-field>
        <mat-form-field class="flex-container">
          <input matInput>
        </mat-form-field>



      </div>

    </div>
    <div class="row  ">

      <div class="column col1">
        <div class="row innerRows teilnehmer">Teilnehmer</div>
      </div>

      <div>
        <li class="mat-form-field--inline">
          <mat-form-field class="example-full-width">
            <mat-label>Vorname</mat-label>
            <input matInput [(ngModel)]="firstname" placeholder="Max">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Nachname</mat-label>
            <input matInput [(ngModel)]="lastname" placeholder="Mustermann">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="email" placeholder="mm">
          </mat-form-field>
          <button class="btnSubmit" (click)="addMember()">Hinzufügen</button>
        </li>
      </div>

    </div>
    <br />
    <h1>Übersicht</h1>
    <div class="row">
      <div class="column">
        <table mat-table #mytable [dataSource]="dataSource" class="mat-elevation-z8 table">

          <ng-container matColumnDef="firstname">
            <th mat-header-cell *matHeaderCellDef> Vorname </th>
            <td mat-cell *matCellDef="let member"> {{member.firstname}} </td>
          </ng-container>


          <ng-container matColumnDef="lastname">
            <th mat-header-cell *matHeaderCellDef> Nachname </th>
            <td mat-cell *matCellDef="let member"> {{member.lastname}}  </td>
          </ng-container>


          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> E-Mail </th>
            <td mat-cell *matCellDef="let member"> {{member.email}} </td>
          </ng-container>





          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <button class="btnSubmit" (click)="submit()">Abschicken</button>
    </div>
  </div>



