

h1 {
  font-size: 24px;
  color: #707070;
}

.schulungh1 {

}

.container {
  width: 100%;
}

.buttonGray {
  border-radius: 12px;
  color: #707070;
  background-color: #D4D4D4;
}

  .buttonGray:hover {
    background-color: #F8F4F4;
    color: #FEAE5F;
  }


.buttonGray.click {
  background-color: white;
  color: #FEAE5F;
}

.month {
  color: #707070;
  text-align: center;
  font-size: 30px;
}

.rowPostition {
  text-align: center;
}
.row {
    margin-left: 0px;
}

.outerDiv {
  margin: 50px;
  margin-left: 70px;
}

.activeSchooling {
  background-color: #8CEE88;
  border-radius: 2px;
  color: #707070;
  padding: 10px;
  margin: 10px;
}
.mat-typography {
  font-family: 'Open Sans', sans-serif;
}
.takenSchooling {
  background-color: #F28C8C;
  border-radius: 2px;
  color: #707070;
  padding: 10px;
  margin: 10px;
}

.filterBtn {
  margin: auto
}

.categoryBtn {
  border: none;
  margin: 3px;
  padding: 7px;
  color: #707070;
  background: #FEAE5F;
  border-radius: 12px;
  outline: none;
  font-size: 15px;
}

  .categoryBtn:hover {
    background: #E19E5D;
  }

.detailview {
  margin-top: 5px;
}

[hidden] {
  display: none !important;
}

.mat-typography h3 {
  margin-top: 3px;
  font-size: 20px;
}

.mat-typography p {
  margin: 5px;
}

.holiday {
  background-color: #DEEFF5;
  padding: 10px;
  margin: 10px;
}

.outerRow {
  margin: 13px;
  margin-left: 20px;
  font-size: 18px;
  color: #707070;

}

.col1 {
  width: 25%
}

.col2 {
  width: 40%
}

.innerRows {
  height: 30px;
  margin-bottom: 5px;
}
.detailTitle {
  color: #FEAE5F;
  font-size: 20px;
}

.inputText {

  margin-left: 20px;
  border-radius: 12px;
}
.firma {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #707070;
  font-size: 18px;
}
.input,
.submit {
  display: inline-table;
  padding: 10px 15px;
  font-size: 20px;
  margin: 10px;
  border-radius: 12px;
  -webkit-appearance: none;
}
.teilnehmer {
  margin-top: 21px;
  font-size: 20px;
  color: #707070;
}
.mat-form-field-empty.mat-form-field-label {
  color: #FEAE5F;
  
}
.mat-form-field-underline {
  background-color: green;
}
::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #FEAE5F !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: #FEAE5F !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: #FEAE5F !important;
  
}
.mat-form-field--inline {
  display: flex;
  flex-direction: row;
  align-items: center;
}

  .mat-form-field--inline .mat-form-field {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
  }

    .mat-form-field--inline .mat-form-field {
      margin-right: 10px;
    }
.flex-container {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 0;

}
.table {
  width: 500px;
  margin-bottom:50px
  
}
.mat-header-row{
    height: 50px;
   
}
.btnSubmit {
  border-radius: 12px;
  color: #707070;
  background-color: #feae5f;
  padding: 5px;
  height: 30px;
}
  .btnSubmit:hover {
    background-color: #e29850;
  }
  .btnSubmit:disabled{
      background-color: lightgray;
  }
agm-map {
  height: 300px;
  width: 100%;
}
.mat-form-field{
    margin: 10px;
}
.containerInput{
 
    margin-left: 0px;
}
a {
  color: #707070;
}
input[type=checkbox]{
    margin-top: 7px;
}
.checks{
    margin-top: 0px;
}
.btnDown{
    
}


.table thead th {
    align-items:center;
    border-top: 0px;
}
.table tr:first-child td {
  border-top: 0;
}

@media (max-device-width: 768px) {
   .filterBtn{
       display: block;
   }
  .outerRow {
    margin: 0;
  }
  
  .outerDiv {
    margin: 0px;
  }
  .mat-typography p {
    margin: 0;
    margin-left: 5px;
    margin-top: 5px;
  }
  .row {
    display: flex;
    flex-wrap: initial;
    margin: 4px;
  }

  .rowData {
    flex-direction: column;
  }

  .col1 {
    width: 40%
  }

  .col2 {
    width: 60%;
  }

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 7px;
    margin: 0px;
    margin-bottom: 10px;
  }

  element.style {
    margin: 15px;
  }

  .filterText {
    display: none;
  }

  .btnPrint {
    margin-left: 0px;
  }
  .rowFields{
      flex-direction: column;
  }
  .colEmpty{
      display: none;
  }
  .checks{
      display:none;
  }
 
}
@media print {
  .printMe {
    display: none !important;
  }
}

app-print-layout {
  display: none;
}

app-invoice {
  display: none;
}

@media print {

  app-invoice {
    display: flex;
  }
}

.btnPrint {
  margin-left: 50px;
}


.mat-typography p{
    margin: 5px;
}
