.hyp:hover {
  text-decoration: underline;
}

.hyp {
  margin: 0px;
  color: #FEAE5F;
}

.detailRes {
  display: flex;
  flex-wrap: wrap;
}

.shortText {
  width: 600px;
}


h1 {
  font-size: 24px;
  color: #707070;
}


.container {
  width: 100%;
  margin: 15px;
  margin-left: 0px;
  padding-left: 0;
}

.buttonGray {
  border-radius: 12px;
  color: #707070;
  background-color: #feae5f;
}

  .buttonGray:hover {
    background-color: #e29850;
  }

  .buttonGray:active {
    background-color: #e29850;
  }

.active {
  background-color: #e29850;
}

.nonActive {
  background-color: #feae5f;
}


.month {
  color: #707070;
  text-align: center;
  font-size: 30px;
}

.rowPostition {
  text-align: center;
}

.outerDiv {
  margin: 35px;
}

.activeSchooling {
  background-color: #8CEE88;
  border-radius: 2px;
  color: #707070;
  padding: 10px;
  margin: 10px;
  flex-shrink: 1
}

  .activeSchooling:hover {
    cursor: pointer;
  }

.takenSchooling {
  background-color: #F28C8C;
  border-radius: 2px;
  color: #707070;
  padding: 10px;
  margin: 10px;
}

.filterBtn {
  margin: auto
}

.categoryBtn {
  border: none;
  margin: 3px;
  padding: 7px;
  color: #707070;
  background: #FEAE5F;
  border-radius: 12px;
  outline: none;
  font-size: 15px;
}

  .categoryBtn:hover {
    background-color: #e29850;
  }

  .categoryBtn:active {
    background-color: #e29850;
  }

  .categoryBtn:focus {
    border: none;
    outline: none;
  }

.mat-button-toggle-button:focus {
  outline: none;
  border: none;
}

.detailview {
  margin-top: 40px;
}

[hidden] {
  display: none !important;
}

.mat-typography h3 {
  margin-top: 3px;
  font-size: 20px;
}

.mat-typography p {
  margin: auto;
}

.holiday {
  background-color: #DEEFF5;
  padding: 10px;
  margin: 10px;
}

.outerRow {
  margin: 50px;
  margin-left: 70px;
  font-size: 20px;
  color: #707070;
  margin-bottom: 0px;
  display: flex;
  flex-wrap: wrap;
}

.row {
  margin-left: 0px;
}

.col1 {
  flex: 1
}

.col2 {
  flex: 1
}

.col3 {
  flex: 2
}

.innerRows {
  height: 30px;
  margin-bottom: 5px;
  width: 400px;
}

.btnLogin {
  border-radius: 12px;
  color: #707070;
  background-color: #D4D4D4;
  padding: 5px;
}

.mat-typography h1 {
  font-family: 'Open Sans', sans-serif;
}

.mat-typography {
  font-family: 'Open Sans', sans-serif;
}

@media print {
  .printMe {
    display: none !important;
  }
}

app-print-layout {
  display: none;
}

app-invoice {
  display: none;
}

@media print {

  app-invoice {
    display: flex;
  }
}

.btnPrint {
  margin-left: 50px;
}

@media (max-device-width: 768px) {
  .outerRow {
    margin: 0;
  }

  .outerDiv {
    margin: 0px;
  }

  .row {
    display: flex;
    flex-wrap: initial;
    margin: 4px;
  }

  .innerRows {
    height: unset;
  }

  .rowData {
    flex-direction: column;
  }

  .col1 {
    width: 40%
  }

  .col2 {
    width: 60%;
  }

  .filterBtn {
    display: flow-root;
  }

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 7px;
    margin: 0px;
    margin-bottom: 10px;
  }

  element.style {
    margin: 15px;
  }

  .filterText {
    display: none;
  }

  .btnPrint {
    margin-left: 0px;
  }
}



p {
  -moz-hyphens: auto;
  -o-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.mat-dialog-container {
  width: 400px;
}

.mat-icon {
  vertical-align: bottom;
}

.mat-typography p {
  margin: 0;
  margin-left: 10px;
}

.mat-typography p {
  margin: 5px;
}

.mat-figure {
  justify-content: left;
  margin-left: 20px;
}




