li{
    margin: 15px;
    padding: 5px;

}
ul{
    padding: 0px;
}
button{
    border-radius: 10px;
}
li:hover {
  background-color: lightgray;
}
.mat-dialog-container {
  width: 400px;
}
h1 {
  color: #feae5f;
}
