.inputs {
  margin-right: 30px;
}

button {
  border-radius: 10px;
  padding: 7px;
  margin-left: 20px;
}

  button:hover {
    background-color: darkgray;
  }

.mat-dialog-actions {
  float: right;
}
.cdk-overlay-pane.my-dialog {
  position: relative !important;
}

.close.mat-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  line-height: 14px;
  min-width: auto;
  margin:0px;
  padding:0px;
}
button{
    padding:0px;
}
